<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         bootstrap="tests/bootstrap.php" 
         colors="true" 
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.2/phpunit.xsd" 
         cacheDirectory=".phpunit.cache"
         failOnWarning="false"
         failOnRisky="false"
         failOnIncomplete="false"
         failOnSkipped="false">
  <coverage>
    <report>
      <clover outputFile="build/logs/clover.xml"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Telnyx PHP Test Suite">
      <directory suffix="Test.php">tests</directory>
    </testsuite>
  </testsuites>
  <logging/>
  <source>
    <include>
      <directory>lib</directory>
    </include>
  </source>
</phpunit>